pcmanfm/
pcmanfm-qt/
gtk-2.0/
gtk-3.0/
htop/
dconf/
libfm/
mimeapps.list
procps/
qView/
systemd/
vlc/
yay/
micro/
pulse/
lxqt/
cef_user_data/
fontconfig/
QtProject.conf
systemd/
xfce4/
karboncalligraphyrc
kritadisplayrc
kritarc
Code/
BraveSoftware/
firefoxprofileswitcher/
google-chrome/
karboncalligraphyrc/
kdenlive-appimagerc/
kdenlive-layoutsrc/
Meltytech/
menus/
nextjs-nodejs/
obs-studio/
onlyoffice/
QDirStat/
QtProject/
qt5ct/
Softdeluxe/
Thunar/
transmission/
user-dirs.dirs
user-dirs.locale
VirtualBox/
xfce4/
